* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	/*font-size: 45px;*/
}

.body {
}

.header__page {
	/*width: 100%;*/
	/*min-width: 1200px;*/
	padding-top: 28px;  	/*Внутренний отступ сверху*/
	padding-bottom: 123px; /*Внутренний отступ снизу*/
	background-color: #2c4641;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
  
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
  
	position: relative;
	/*z-index: 5;*/
}

.header__page::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container__header__page {
	/*font-family: inherit;*/
	width: 69.83%;
	min-width: 690px;
	max-width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 5;
}

.logo__header__page {
	width: 180px;
	background-color: #000000;
}

.menu__header__page {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: lighter;
}

.menu__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu__list-one:nth-child(n + 2) {
	margin-left: 33px;
}

.menu__link {
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	color: inherit;
}

.title__header__page {
	display: block;
	/*width: 58%;*/
	/*max-width: 690px;*/
	width: 690px;
	margin-left: auto;   /*Центрируем блок с текстом заголовка*/
	margin-right: auto;  /*Центрируем*/

	margin-top: 105px; /*Внешний отступ сверху 125px*/ 
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;    
  
	position: relative;
	z-index: 5; 
}

.content__page {}

.trend-section__content__page {
	/*width: 690px;*/
	margin-left: auto;   /*Центрируем*/
	margin-right: auto;  /*Центрируем*/
}

.header__trend-section {
	color: #0f0d0e;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 60px 0px 35px;
}

.header__trend-section:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 65px;
	height: 3px;	
	margin-left: auto;   /*Центрируем*/
	margin-right: auto;  /*Центрируем*/
	margin-top: 10px;
}

.title__header__trend-section {
	display: block;
	/*width: 690px;*/
	margin-left: auto;   /*Центрируем*/
	margin-right: auto;  /*Центрируем*/
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
  
	position: relative;
}

.hotposts__trend-section {
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	/*align-items: flex-end;*/
	align-items: stretch safe;
}

.topic-article {
	width: 24.8%;
}

.previewbox__topic-article {
}

.preview__topic-article {
  max-width: 100%;
  display: block;
}

.footer__page {}

@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
		url(../fonts/OpenSans-Bold.woff) format("woff"), 
		url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
		url(../fonts/OpenSans-Regular.woff) format("woff"), 
		url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
