* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	/*font-size: 45px;*/
}

.body {}

.black {color: #000000;}

.page-header {
	/*width: 100%;*/
	/*min-width: 1200px;*/
	padding-top: 28px;
	padding-bottom: 123px;
	background-color: #2c4641;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
  
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
  
	position: relative;
	/*z-index: 5;*/
}

.page-header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container__page-header {
	/*font-family: inherit;*/
	width: 69.83%;
	min-width: 690px;
	max-width: 1160px;
	margin: 0 auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 5;
}

.logo__page-header {
	width: 180px;
}

.main-logo {}

.menu__page-header {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: lighter;
}

.menu-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu-list-one__page-header:nth-child(n + 2) {
	margin-left: 33px;
}

.menu-link__page-header {
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	color: inherit;
}

.title__page-header {
	display: block;
	/*width: 58%;*/
	/*max-width: 690px;*/
	width: 690px;
	margin-left: auto;   /*Центрируем*/
	margin-right: auto;  /*Центрируем*/

	margin-top: 105px;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;    
  
	position: relative;
	z-index: 5; 
}

.page-trend-section {
	/*width: 690px;*/
	margin-left: auto;
	margin-right: auto;
}

.header__trend-section {
	color: #0f0d0e;
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 60px 0px 35px;
}

.header__trend-section:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.title__header__trend-section {
	display: block;
	/*width: 690px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
  
	position: relative;
}

.hotposts__trend-section {
	min-width: 1200px;
	display: flex;
	box-sizing: border-box;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
  
	position: relative;	
}

.topic-article {
	width: 24.8%;
	
	padding: 16px 20px;
	padding-top: 131px;
	
	background-color: #2c4641;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;	
	
	display: flex;
	align-items: flex-end;
	
	position: relative;
}

.topic-article::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.preview-1__topic-article {
	background-image: url(../img/trend1.jpg);
}

.preview-2__topic-article {
	background-image: url(../img/trend2.jpg);
}

.preview-3__topic-article {
	background-image: url(../img/trend3.jpg);
}

.preview-4__topic-article {
	background-image: url(../img/trend4.jpg);
}

.content__topic-article { 
	display: block;
	border: 3px solid #b59f5b;
	padding: 34px 32px;
	padding-top: 25px;
	
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	
	position: relative;
	z-index: 5;
}

.title__topic-article {
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}
				/*	---------- МЕНЮ КАТЕГОРИЙ СТАТЕЙ 'TOPIC-ARTICLE' ----------	*/
.menu__topic-article {}

.categories-menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.one__categories-menu {}

.one__categories-menu:nth-child(n + 2) {
	margin-left: 18px;
}

.link__categories-menu {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
	font-style: normal;
	color: #b59f5b;
}

			/*	---------- ОСНОВНАЯ ЧАСТЬ ----------	*/
.page-content {
	display: flex;
	margin: 0px auto;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}
				/*	---------- СПИСОК СТАТЕЙ 'MAIN' ----------	*/
.post-list__page-content {
	max-width: 60%;
	/*padding-top: count(64px - 13px);*/
	padding-top: 51px;
	padding-right: 140px;
	
}

.menu__article {}

.article__post-list {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	/*margin-top: count(59px - 13px);*/
	padding-bottom: 46px;
}

.preview__article__post-list {
	flex: none;
}

.img__article__post-list {
	display: block;
	max-width: 100%;
	margin-top: 13px;
}

.content__article__post-list {
	padding-left: 30px;
}

.title__article__post-list {
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-style: normal;
	color: #0f0d0e;
}

.date-and-author {
	margin-top: 20px;
	padding-bottom: 16px;
}

.post-date {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 40px;
	color: #888888;
}

.post-author {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	color: #000000;
}

.description__article__post-list {
	margin-top: 22px;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
}

			/*	---------- 'ASIDE' ----------	*/
.aside__page-content {
    max-width: 30%;
	order: 1;
}

.latest-posts__aside {
	/*padding-top: count(64px - 7.5px);*/
	padding-top: 53.5px;
}

.aside-header {
	color: #0f0d0e;
	text-transform: uppercase;
	background-color: #ffffff;	
}

.aside-header:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;
	margin: 6.5px auto 16px;
}

.title__aside-header {
	display: block;
	/*width: 690px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
  
	position: relative;
}

.latest-post-list {
	/*padding-top: count(30px - 14px);*/
}

.latest-post {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	/*margin-top: count(22px - 14px);*/
	padding-bottom: 8px;
}

.preview__latest-post {
	flex: none;
}

.img__latest-post {
	display: block;
	max-width: 100%;
	margin-top: 14px;
}

.content__latest-post {
	padding-left: 20px;
}

.title__latest-post {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #000000;	
	text-transform: uppercase;
}

.page-footer {}

@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
		url(../fonts/OpenSans-Bold.woff) format("woff"), 
		url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
		url(../fonts/OpenSans-Regular.woff) format("woff"), 
		url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
