
:root {
	--width-desktop: 1200px;
	--width-tablet: 768px;
	--width-mobile: 360px;
	--safe-width-1-desktop: 960px;
	--safe-width-1-tablet: 768px;
	--safe-width-1-mobile: 360px;
	--safe-width-2: 690px;
	--safe-width-3: 780px;
	--special-color-1: #b59f5b; 
	--special-color-2: #0f0d0e;
	--special-color-3: #ebe7d7;
	--special-color-4: #f4f7f6;
	--border-color-1: #eeeeee;
	--aside-space-between: 53px;
	--specisl-size-1: 48px;
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	/*font-size: 45px;*/
}

.body {}

.page-header {
	/*width: 100%;*/
	min-width: var(--width-desktop);
	padding-top: 28px;
	padding-bottom: 123px;
	position: relative;
	background-color: #2c4641;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;  
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
}

.page-header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container__page-header {
	width: 70%;
	min-width: var(--safe-width-2);
	margin: 0 auto;
	
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2020;
}

.logo__page-header {width: 180px}

.main-logo {}

@media (max-width: 1199px) {
	.menu__page-header {display: none;}
	.button-nav-menu__page-header,
	.button-nav-menu__page-header:focus + .menu__page-header, 
	:hover + .menu__page-header, :active + .menu__page-header {display: block;}
}

@media (min-width: 1200px) {
	.menu__page-header {display: block;}
	.button-nav-menu__page-header {display: none;}
}

.menu__page-header {}

.list-menu__page-header {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: lighter;
}	/*.flex-list-menu__tools */

.item__list-menu__page-header:nth-child(n + 2) {margin-left: 33px}

.link__list-menu__page-header {
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	color: inherit;
}

.button-nav-menu__page-header {
	width: 23px;
	height: 20px;
	background-size: cover;
	background-image: url(../svg/button_main_menu.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.title__page-header {
	display: block;
	width: var(--safe-width-2);
	margin: 105px auto 0;
	text-align: center;
	position: relative;
	z-index: 5;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;
}


				/*	---------- <page-trend-section> 'СЕЙЧАС В ТРЕНДЕ' ----------	*/
				
.trend-section {min-width: var(--width-desktop)}


				/*	---------- 'СЕЙЧАС В ТРЕНДЕ' <HEADER> ----------	*/
				
.header__page-section {
	color: var(--special-color-2);
	text-transform: uppercase;
	/*background-color: #ffffff;*/
}

.header__page-section:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.title__header__page-section {
	text-align: center;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
}

.title-padding__page-section {
	padding-top: 60px;
	padding-bottom: 35px;
}


				/*	---------- 'СЕЙЧАС В ТРЕНДЕ' <TOPIC-ARTICLE> ----------	*/
.topic__trend-section {
	justify-content: space-between;
	position: relative;
	box-sizing: border-box;
}	/* .flex-row-nowrap-stretch__tools */

.topic-article {
	width: 24.8%;
	min-height: 321px;	
	display: flex;
	align-items: flex-end;
	padding: 16px 20px;
	position: relative;
	background-color: #2c4641;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

.topic-article::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.preview-1__topic-article {background-image: url(../img/trend1.jpg)}
.preview-2__topic-article {background-image: url(../img/trend2.jpg)}
.preview-3__topic-article {background-image: url(../img/trend3.jpg)}
.preview-4__topic-article {background-image: url(../img/trend4.jpg)}

.content__topic-article { 
	display: block;
	border: 3px solid var(--special-color-1); /*#b59f5b;*/
	padding: 36px 32px;
	flex: auto;
	position: relative;
	z-index: 5;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.header__topic-article {}

.title__topic-article {
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

.link__title__topic-article {color: inherit;}


				/*	---------- МЕНЮ КАТЕГОРИЙ СТАТЕЙ 'TOPIC-ARTICLE' ----------	*/
				
.menu__topic-article {margin-bottom: 13px}

.categories-menu__article {} /* .flex-list-menu__tools */

.category__categories-menu__article:nth-child(n + 2) {margin-left: 18px}

.link__categories-menu__article {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
	color: var(--special-color-1); /*#b59f5b;*/
}


			/*	---------- ОСНОВНАЯ ЧАСТЬ ----------	*/
			
.page-wrapper {
	max-width: var(--width-desktop);
	min-width: var(--safe-width-1-desktop); 
	margin-top: 51px;
}

.page-section {
	margin-left: auto;
	margin-right: auto;
}

.page-content {justify-content: space-between;}	/* .flex-row-nowrap-stretch__tools */

				/*	---------- СПИСОК СТАТЕЙ 'MAIN' ----------	*/
.post-list__page-content {
	max-width: var(--safe-width-3);
	margin-right: 1.66%;
	/*order: 0;*/
}

.menu__article {
	margin-top: -2.5px;
	margin-bottom: 13px;
}

.article__post-list {}	/* .flex-row-nowrap-stretch__tools */

.article__post-list:nth-child(n + 2) {margin-top: 60px}

.preview__article__post-list {flex: none}

.img__article__post-list {
	display: block;
	max-width: 100%;
}

.content__article__post-list {
	margin-left: 30px;	
	box-sizing: border-box;
	justify-content: start;
	position: relative;	
}

.header__article__post-list {}

.title__article__post-list {
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-style: normal;
	color: var(--special-color-2);
}

.link__title__article__post-list {color: inherit}

.date-and-author {
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.post-date {
	flex: none;
	font-family: "Open Sans Regular", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #888888;
}

.post-author {
	font-family: "Open Sans Bold", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	flex-grow: 1;
}

.description__article__post-list {
	display: block;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: var(--special-color-2);
}

.p-margin-top {margin-top: 22px}


			/*	---------- 'ASIDE' ----------	*/
.aside__page-content {
	max-width: 271px;
	min-width: 271px;
	margin-left: 1.67%;
	/*order: 1;*/
}
/*
@media (max-width: count(var(--width-tablet) - 1px)) {
  .aside__page-content {
	  width: 100%;
  }
}
*/
.latest-posts__aside {}

.aside-header {
	color: var(--special-color-2);
	text-transform: uppercase;
	background-color: #ffffff;	
}

.aside-header:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;
	margin: 6.5px auto 30px;
}

.title__aside-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
}

.latest-post-list {}

.latest-post {}	/* .flex-row-nowrap-stretch__tools */

.latest-post:nth-child(n + 2) {margin-top: 22px}

.preview__latest-post {flex: none}

.img__latest-post {
	display: block;
	max-width: 100%;
}

.content__latest-post {margin-left: 20px}

.date__latest-post {margin-top: -2.5px}

.header__latest-post {margin-top: 3px}

.title__latest-post {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #000000;	
	text-transform: uppercase;
}

.link__title__latest-post {
	color: inherit;
}


			/*	---------- 'ASIDE' ПОИСК ----------	*/
.search-form__aside {margin-top: 60px;}	/* .flex-row-nowrap-stretch__tools */

.search-field {flex-grow: 1}

.search-button {
	width: 48px;
	/* 5. Зачем нужен блок .search-icon? Почему не задать иконку фоном для кнопки? */
	background-image: url(../svg/search.svg);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
}


			/*	---------- 'SUBSCRIBE-ASIDE' ПОДПИСКА ----------	*/
			
.subscribe__aside {margin-top: var(--aside-space-between)}

.subscribe-form {
	display: flex;
	flex-direction: column;
}

.subscribe-form-field:nth-child(n + 2) {margin-top: 18px}

.email-field {}

.subscribe-button {padding: 14.5px 0}


			/*	---------- 'TAGS-ASIDE' ТЕГИ ----------	*/
			
.tags__aside {margin-top: var(--aside-space-between)}

.tags-menu__aside {
	justify-content: start;
	align-items: stretch;
	box-sizing: border-box;
} /* .flex-list-menu__tools */

.tag__tags-menu:nth-child(n + 2) {margin-left: 5px;}
.tag__tags-menu:nth-child(3n + 4) {margin-left: 0;} /* 4,7 */
.tag__tags-menu:nth-child(n + 4) {margin-top: 6px;} /* 2-й ряд и ниже */

.button__tags-menu {
	display: block;
	padding: 5px 13px;
	border: 3px solid var(--border-color-1);
}

.link__tags-menu {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: var(--special-color-2);
	text-transform: uppercase;
}

.button__tags-menu:hover,
.button__tags-menu:focus {
	outline: none;
	border: 3px solid var(--special-color-1);
}


			/*	---------- 'CATEGORIES' ТЕМЫ ----------	*/
			
.themes__aside {margin-top: var(--aside-space-between);}

#categories-menu__aside {
	list-style-type: none;
	box-sizing: border-box
}

.category__categories-menu__aside {
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color-1);
}

.category__categories-menu__aside:nth-child(n + 2) {padding-top: 15px}

.link__categories-menu__aside {
	position: relative;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: capitalize;
	color: black;
}

.link__categories-menu__aside:focus,
.link__categories-menu__aside:hover {
	outline: none;
	color: var(--special-color-1);
}
/* 
.link__categories-menu:focus > .name__link дочерний селектор
.link__categories-menu:focus + .link2__categories-menu следующий/соседний селектор
.link__categories-menu:focus ~ .link3__categories-menu родственный селектор
*/

.posts-number__link {
	position: absolute;
	margin-left: 5px;
	top: 0;
	font-size: 12px;
	color: var(--special-color-1);
}


			/*	---------- 'SHOP-FOOTER' МАГАЗИН ----------	*/
.shop-content {
	/*max-width: var(--width-desktop);
	min-width: var(--safe-width-1-desktop); */
}

.goods__shop-content {
	justify-content: space-between;
	box-sizing: border-box;
}	/* .flex-row-nowrap-stretch__tools */

			/*	---------- 'МАГАЗИН' товары <PRODUCT> ----------	*/
.product {
	width: 30%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.product:nth-child(3n + 2) {
    margin-left: 1px;
    margin-right: 1px;
  }
  
.product-imgbox {
	padding-left: 20px;
	padding-right: 20px;
  }

.product-img {
	width: 100%;
	display: block;
}

.product-body {
	box-sizing: border-box;
	margin-top: -30px;
	padding: 55px 20px 26px;
	outline: 3px solid #d3c59d;
	/*outline-offset: 20px;*/
	flex-grow: 1;
}

.product-content {color: var(--special-color-2)}

.product-title {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.link__product-title {color: inherit}

.product-description {	
	font-family: "Open Sans Regular", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
}

.p__product-description {margin-top: 1px}

.link__product-description {color: var(--special-color-1);}		


			/*	---------- 'PRODUCT-FOOTER' ЦЕНА продукта ----------	*/
.product-footer {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.product-prices {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	color: var(--special-color-2);
}

.product-price {font-size: 20px}

.value__product-price {}

.old__product-price {
	text-decoration: line-through;
	font-size: 14px;
}

.rub {margin-left: 4px}

.product-button {
	display: block;
	padding: 14.5px 30px;
}


			/*	---------- 'ADRESS-FOOTER' СОЦ.СЕТИ ----------	*/
			
.social-addresses {
	display: block;
	margin-top: 65px;
}

.social-top-menu {
	padding: 30px 0;
	justify-content: center;
	background-color: #f4f7f6;
} /* .flex-list-menu__tools */

.social-icon:nth-child(n + 2) {margin-left: 30px}

.link-social-icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.social-icon-twitter {
	width: 25px;
	height: 21px;
	background-image: url(../svg/logo-1-twitter.svg);
}

.social-icon-pinterest {
	width: 16px;
	background-image: url(../svg/logo-2-pinterest.svg);
}

.social-icon-facebook {
	width: 12px;
	background-image: url(../svg/logo-3-facebook.svg);
}

.social-icon-instagram {
	width: 20px;
	background-image: url(../svg/logo-4-instagram.svg);
}

.social-icon-tumblr {
	width: 13px;
	background-image: url(../svg/logo-5-tumblr.svg);
}


			/*	---------- 'FOOTER' copyright ----------	*/
.footer-bottom {
	margin-top: 65px;
	text-align: center;
}

.copyright {
	padding-bottom: 40px;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #999999;
}


				/*	---------- <section> 'FEDDBACK-POPUP' (ВСПЛЫВАЮЩЕЕ ОКНО) ----------	*/
				
.feedback-pupup {
	display: flex;
	justify-content: center;
	align-items: center;
	}

.feedback-pupup::after {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 2021;
    opacity: 0.5;
    content: "";
    background-color: #000000;
}

.feedback-pupup-window {
	position: fixed;
	width: 390px;
	box-sizing: border-box;
	z-index: 2022;
	/*width: 70%;
	min-width: var(--safe-width-2);*/
}

.x-button-pupup {
	display: flex;
	justify-content: flex-end;
}

.x-button {
	width: 19px;
	height: 19px;
    border: none;
	outline: none;
	box-sizing: border-box;
	background-image: url(../svg/form-x.svg);
	background-position: center;
	background-repeat: no-repeat;
    cursor: pointer;
}

.feedback-form {
	background-color: white;
	margin-top: 9px;
	padding: 0 30px 55px;
}

.title-padding__feedback-form {
	padding-top: 55px;
	padding-bottom: 30px;
}

.section__feedback-form {}
.section__feedback-form:nth-child(n + 3) {margin-top: 34px;}
.section__feedback-form:last-child {margin-top: 27px;}

.form-group {display: block;}

.form-hint {
	display: block;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 12px;
	color: #6b6b6b;
}

.select-frequency {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../svg/form-arrows.svg);
	background-size: auto 16px;
	background-position: right 10px center;
	background-repeat: no-repeat;
    cursor: pointer;	
}

.radio-group-text::before {	/* radio-no-active */
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 7px;
	
	background-image: url(../svg/form-empty-circle.svg);
	background-size: 18px;
	background-position: center  center;
	background-repeat: no-repeat;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
}

.radio-group:nth-of-type(n+2) {margin-left: 15px;}

.radio:focus ~ .radio-group-text::before,
.radio:checked ~ .radio-group-text::before {	/* radio-active */
	background-image: url(../svg/form-circle.svg);	
}

.radio { /* скрыть */
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; 
	width: 1px; 
}

.form-group > .message-textarea {
	width: 100%;
	height: 130px;
	padding: 18px;
}
.message-textarea::placeholder {}

.feedback-form-button {
	width: 100%;
	text-align: center;
	vertical-align: middle;
}


			/*	---------- TOOLS ----------	*/

.black {color: black}
.white {color: white}

.flex-list-menu__tools {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}

.flex-row-nowrap-stretch__tools {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.button__tools,
.input-text-field__tools {
	height: var(--specisl-size-1);
	box-sizing: border-box;
	vertical-align: middle;
    border: none;
	outline: none;
}

.button__tools {
	text-align: center;
	background-color: var(--special-color-1);
    cursor: pointer;	
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*line-height: 40px;*/
	line-height: normal;
}

.input-text-field__tools {
	padding-left: 18px;
	background-color: var(--special-color-4);
	color: #a9a9a9;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: normal;
	font-size: 13px;
}

.button__tools:hover, .button__tools:focus, 
.button__tools:active {background-color: #323232}

.input-text-field__tools:hover, .input-text-field__tools:focus, 
.input-text-field__tools:active {border-bottom: 1px solid var(--special-color-3)}

.label-hidden__tools { /* скрытая метка */
    font-size: 0;
	/*color: transparent;*/
    /*position: absolute;
    top: -100%;*/
    /*top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}

.visually-hidden__tools {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-hidden__tools {
	 position: absolute;
	 width: 1px;
	 height: 1px;
	 clip: rect(1px, 1px, 1px, 1px);
}

._hidden {display: none;}

/*#search-field::-webkit-input-placeholder {color: auto;}*/
/*input::-webkit-input-placeholder {color: blue;}*/
/*input:-moz-placeholder {color: black;}*/
/*.search__field:hover + #search-field::-webkit-input-placeholder {color: #ffffff;}*/


			/*	---------- ШРИФТЫ ----------	*/
			
@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
		url(../fonts/OpenSans-Bold.woff) format("woff"), 
		url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
		url(../fonts/OpenSans-Regular.woff) format("woff"), 
		url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
