
:root {
	--width-desktop: 1200px;
	--width-tablet: 768px;
	--width-mobile: 360px;
	--safe-width-1-desktop: 960px;
	--safe-width-1-tablet: 768px;
	--safe-width-1-mobile: 360px;
	--special-color-1: #b59f5b; 
	--special-color-2: #0f0d0e;
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	/*font-size: 45px;*/
}

.body {}

.black {color: black;}

.page-header {
	/*width: 100%;*/
	min-width: var(--width-desktop);
	padding-top: 28px;
	padding-bottom: 123px;
	background-color: #2c4641;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
  
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
  
	position: relative;
	/*z-index: 5;*/
}

.page-header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container__page-header {
	width: 70%;
	min-width: 690px;
	margin: 0 auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
}

.logo__page-header {
	width: 180px;
}

.main-logo {}

.menu__page-header {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: lighter;
}

.menu-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu-list-one__page-header:nth-child(n + 2) {
	margin-left: 33px;
}

.menu-link__page-header {
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	color: inherit;
}

.title__page-header {
	display: block;
	width: 690px;
	margin: 105px auto 0;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 45px;
	line-height: 75px;    
  
	position: relative;
	z-index: 5; 
}

				/*	---------- <page-trend-section> 'СЕЙЧАС В ТРЕНДЕ' ----------	*/
.trend-section {
	/*width: 100%;*/
	min-width: var(--width-desktop);
}

.page-section {
	margin-left: auto;
	margin-right: auto;
}

				/*	---------- 'СЕЙЧАС В ТРЕНДЕ' <HEADER> ----------	*/
.header__page-section {
	color: var(--special-color-2);
	text-transform: uppercase;
	background-color: #ffffff;
	padding: 60px 0px 35px;
}

.header__page-section:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.title__header__page-section {
	display: block;
	width: 690px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
  
	position: relative;
}

				/*	---------- 'СЕЙЧАС В ТРЕНДЕ' <TOPIC-ARTICLE> ----------	*/
.topic__trend-section {
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
  
	position: relative;	
}

.topic-article {
	width: 24.8%;
	min-height: 321px;
	
	padding: 16px 20px;
	
	background-color: #2c4641;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;	
	
	display: flex;
	align-items: flex-end;
	
	position: relative;
}

.topic-article::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.preview-1__topic-article {
	background-image: url(../img/trend1.jpg);
}

.preview-2__topic-article {
	background-image: url(../img/trend2.jpg);
}

.preview-3__topic-article {
	background-image: url(../img/trend3.jpg);
}

.preview-4__topic-article {
	background-image: url(../img/trend4.jpg);
}

.content__topic-article { 
	display: block;
	border: 3px solid var(--special-color-1); /*#b59f5b;*/
	padding: 36px 32px;
	
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	
	flex: auto;
	position: relative;
	z-index: 5;
}

.header__topic-article {}

.title__topic-article {
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
}

.link__title__topic-article {
	color: inherit;
}
				/*	---------- МЕНЮ КАТЕГОРИЙ СТАТЕЙ 'TOPIC-ARTICLE' ----------	*/
.menu__topic-article {
	margin-bottom: 13px;
}

.categories-menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.one__categories-menu {}

.one__categories-menu:nth-child(n + 2) {
	margin-left: 18px;
}

.link__categories-menu {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*line-height: 40px;*/
	font-style: normal;
	color: var(--special-color-1); /*#b59f5b;*/
}

			/*	---------- ОСНОВНАЯ ЧАСТЬ ----------	*/
.content {
	max-width: var(--width-desktop);
	min-width: var(--safe-width-1-desktop); 
	margin-top: 51px;
	/* ???: */
	/*display: flex;
	flex-direction: column;
	aligne-items: stretch;
	justify-content: flex-start;*/
}

.page-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

				/*	---------- СПИСОК СТАТЕЙ 'MAIN' ----------	*/
.post-list__page-content {
	max-width: 780px;
	/*padding-top: count(64px - 13px);*/
	/*padding-top: 51px;*/
	margin-right: 1.66%;
	order: 0;
}

.menu__article {
	margin-top: -2.5px;
	margin-bottom: 13px;
}

.article__post-list {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

.article__post-list:nth-child(n + 2) {
	margin-top: 60px;
	
}

.preview__article__post-list {
	flex: none;
}

.img__article__post-list {
	display: block;
	max-width: 100%;
	/*margin-top: 13px;*/
}

.content__article__post-list {
	margin-left: 30px;	
	box-sizing: border-box;
	justify-content: start;
	position: relative;	
}

.header__article__post-list {}

.title__article__post-list {
	text-transform: uppercase;
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	font-style: normal;
	color: var(--special-color-2);
}

.link__title__article__post-list {
	color: inherit;
}

.date-and-author {
	margin-top: 20px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	/*min-height: 67px;*/
}

.post-date {
	flex: none;
	font-family: "Open Sans Regular", sans-serif;
	font-size: 12px;
	/*line-height: 40px;*/
	font-weight: 400;
	color: #888888;
}

.post-author {
	font-family: "Open Sans Bold", sans-serif;
	font-size: 12px;
	/*line-height: 40px;*/
	font-weight: bold;
	color: #000000;
	flex-grow: 1;
}

.description__article__post-list {
	display: block;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: var(--special-color-2);
}

.p-margin-top {
	margin-top: 22px;
}

			/*	---------- 'ASIDE' ----------	*/
.aside__page-content {
	max-width: 271px;
	min-width: 271px;
	margin-left: 1.67%;
	order: 1;
}

.latest-posts__aside {}

.aside-header {
	color: var(--special-color-2);
	text-transform: uppercase;
	background-color: #ffffff;	
}

.aside-header:after {
	display: block;
	background-color: #e1d9bd;
	content: "";
	width: 66px;
	height: 3px;
	margin: 6.5px auto 30px;
}

.title__aside-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
  
	position: relative;
}

.latest-post-list {}

.latest-post {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	/*margin-bottom: 22px;*/
}

.latest-post:nth-child(n + 2) {
	margin-top: 22px;
	
}

.preview__latest-post {
	flex: none;
}

.img__latest-post {
	display: block;
	max-width: 100%;
}

.content__latest-post {
	margin-left: 20px;
}

.date__latest-post {
	margin-top: -2.5px;
}

.header__latest-post {
	margin-top: 3px;
}

.title__latest-post {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #000000;	
	text-transform: uppercase;
}

.link__title__latest-post {
	color: inherit;
}

			/*	---------- 'ASIDE' ПОИСК ----------	*/
.search-form_aside {
	margin-top: 60px;
	display: flex;
	align-items: stretch;
}

#search-field {
	flex-grow: 1;
	padding-left: 18px;
    box-sizing: border-box;
}

.search__field {
    border: none;
	font-family: "Open Sans Regular", sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: black;
	background-color: #f4f7f6;
}

.search__field:hover, .search__field:focus {
  background-color: var(--special-color-1);
  font-weight: bold;
  color: #ffffff;
  outline: none;
  /*outline: 3px dotted #b59f5b;*/
}

/*#search-field::-webkit-input-placeholder {color: auto;}*/
/*input::-webkit-input-placeholder {color: blue;}*/
/*input:-moz-placeholder {color: black;}*/
/*.search__field:hover + #search-field::-webkit-input-placeholder {color: #ffffff;}*/

.label-hidden {
    font-size: 0;
	
	/*position: absolute;
     top: -100%;*/
	
	/*color: transparent;*/
}

.search__button {
	flex: none;
    box-sizing: border-box;
    border: none;
	width: 48px;
	height: 48px;
    cursor: pointer;
	background-color: var(--special-color-1);
}

.search__button:hover, .search__button:focus {
  background-color: #323232; /*#888888;*/
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  /*box-shadow: 0 0 0 3px var(--special-color-1);*/
}

svg.search__icon {
	width: 18px;
	height: 18px;
	fill: #ffffff;
}


			/*	---------- 'SHOP-FOOTER' МАГАЗИН ----------	*/
.shop-content {
	/*max-width: var(--width-desktop);
	min-width: var(--safe-width-1-desktop); */
}

.goods__shop-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	box-sizing: border-box;
  
	/*position: relative;*/
}

			/*	---------- 'МАГАЗИН' товары <PRODUCT> ----------	*/
.product {
	width: 30%;
	background-color: white;
	box-sizing: border-box;
	/*border: 3px solid #d3c59d;*/
	
	display: flex;
	flex-direction: column;
}

.product:nth-child(3n + 2) {
    margin-left: 1px;
    margin-right: 1px;
  }
  
.product-imgbox {
	padding-left: 20px;
	padding-right: 20px;
  }

.product-img {
	display: block;
	width: 100%;
}

.product-body {
	box-sizing: border-box;
	margin-top: -30px;
	padding: 55px 20px 26px;
	outline: 3px solid #d3c59d;
	/*outline-offset: 20px;*/
	flex-grow: 1;
}

.product-content {
	color: var(--special-color-2);
}

.product-title {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

.link__product-title {
	color: inherit;
}

.product-description {	
	font-family: "Open Sans Regular", sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 22px;
}

.p__product-description {
	margin-top: 1px;
}

.link__product-description {
	color: var(--special-color-1);
}		

			/*	---------- 'PRODUCT-FOOTER' ЦЕНА продукта ----------	*/
.product-footer {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.product-prices {
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	/*line-height: 24px;*/
	color: var(--special-color-2);
}

.product-price {
	font-size: 20px;
}

.value__product-price {
}

.old__product-price {
	text-decoration: line-through;
	font-size: 14px;
}

.rub {
	margin-left: 4px;
}

.product-button {
	border: none;
	background-color: var(--special-color-1);
	padding: 5px 30px;

	cursor: pointer;
	text-transform: uppercase;

	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 14px;
	/*line-height: 40px;*/
	color: white;
}


			/*	---------- 'FOOTER' ПОДВАЛ страницы ----------	*/
.page-footer {}


			/*	---------- ШРИФТЫ ----------	*/
@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.ttf) format("truetype"),
		url(../fonts/OpenSans-Bold.woff) format("woff"), 
		url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/OpenSans-Regular.ttf) format("truetype"),
		url(../fonts/OpenSans-Regular.woff) format("woff"), 
		url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
