* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}

.body {
}

.header__page {
	width: 100%;
	min-width: 1200px;  
	padding-top: 0.67em;  	/*Внутренний отступ сверху 30px*/
	padding-bottom: 3.22em; /*Внутренний отступ снизу 145px*/
	background-color: #2c4641;
	background-image: url(../img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  
	font-family: inherit;
	color: #ffffff;
	text-transform: uppercase;
  
	position: relative;
	/*z-index: 5;*/
}

.header__page::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
	font-family: inherit;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	z-index: 5;
}

.header__logo {
	width: 190px;
	background-color: #000000;
}

.header__menu {
	font-family: "Open Sans Regular", sans-serif;
	font-weight: lighter;
}
.menu__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu__list-one:nth-child(n +2) {
	margin-left: 33px;
}

.menu__link {
	text-decoration: none;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	color: inherit;
}

.header__title {
	display: block;
	width: 37%; 
	margin-left: auto;   /*Центрируем блок с текстом заголовка*/
	margin-right: auto;  /*Центрируем*/
	/*background-color: #000000;*/ 

	margin-top: 2.7em; /*Внешний отступ сверху 121px*/ 
	text-align: center;
  
	font-family: "Open Sans Bold", sans-serif;
	font-weight: bold;
	font-size: 33px;
	line-height: 40px;    
  
	position: relative;
	z-index: 5; 
}

.content__page {}
.footer__page {}

@font-face {
	font-family: "Open Sans Bold";
	src: url(../fonts/OpenSans-Bold.truetype) format("truetype"),
		url(../fonts/OpenSans-Bold.woff) format("woff"), 
		url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Regular";
	src: url(../fonts/OpenSans-Regular.truetype) format("truetype"),
		url(../fonts/OpenSans-Regular.woff) format("woff"), 
		url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
