* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

.page {
  /*width: 100%;*/
  min-width: 1200px;
  font-family: Open Sans, sans-serif;
}

.header__page {
  width: 100%;
  min-width: 1200px;
  height: 450px;
  background-color: #2c4641;
  background-image: url(../img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  
  position: relative;
  /*z-index: 5;*/
}

.header__page::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
  font-family: inherit;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}

.header__logo {
  width: 190px;
  padding-top: 26px;
  padding-left: 70px;
}

.header__menu {
  padding-top: 45px;
  padding-right: 10%;
}

ul {
  
}
.menu__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  
}
.menu__list-one:nth-child(n +2) {
  margin-left: 33px;
}

a {
    
}
.menu__link {
  text-decoration: none;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  color: inherit;
}

h1 {
  display: block;
  width: 37%;  
  margin-left: auto;   /*Центрируем блок с текстом заголовка*/
  margin-right: auto;  /*Центрируем*/
  /*background-color: #000000;*/ 
}
.header__title {
  padding-top: 1.22em; /*Внутренний отступ сверху 55px*/ 
  text-align: center;
  
  font-family: inherit;
  font-weight: bold;
  font-size: 45px;
  line-height: 75px;    
  
  position: relative;
  z-index: 5; 
}

.content__page {}
.footer__page {}

@font-face {
font-family: Open Sans;
src: url(../fonts/OpenSans-Bold.woff);
font-weight: 400;
font-style: normal;
}
